
<section class="py-[64px] sm:pt-2 md:px-4 sm:px-4">
  <div class="max-w-7xl mx-auto bg-[#076EFF] px-4 py-[49px] sm:p-6 rounded-[24px] text-center">
    <div class="max-w-[800px] mx-auto">
      <!-- Main Title -->
      <h2 class="font-bold text-[34px] sm:text-[24px] sm:leading-[29px] text-white mb-4 leading-[41px]">
        Присоединяйтесь к Lifted.kz уже сегодня!
      </h2>
      
      <!-- Subtitle -->
      <p class="text-[16px] leading-[24px] text-[#E6E8EA] mb-6 max-w-[600px] mx-auto">
        Учителя экономят время, ученики учатся эффективнее, образование становится честным и прозрачным
      </p>
      
      <!-- CTA Button -->
      <div class="flex sm:hidden justify-center">
        <a href="https://lifted.kz/auth/sign-up" class="bg-white hover:bg-gray-100 text-[#076EFF] hover:text-[#076EFF] px-6 py-3 rounded-lg text-[16px] leading-[24px] font-semibold transition-all duration-300 ease-in-out active:scale-[0.98] active:opacity-80 shadow-[0_8px_12px_-2px_rgba(0,0,0,0.08),0_2px_6px_-2px_rgba(0,0,0,0.06)]">
          Зарегистрироваться бесплатно
        </a>
      </div>
      <div class="hidden sm:flex sm:w-full justify-center">
        <a href="https://lifted.kz/auth/sign-up" class="bg-white w-full hover:bg-gray-100 text-[#076EFF] hover:text-[#076EFF] px-6 py-3 rounded-lg text-[16px] leading-[24px] font-semibold transition-all duration-300 ease-in-out active:scale-[0.98] active:opacity-80 shadow-[0_8px_12px_-2px_rgba(0,0,0,0.08),0_2px_6px_-2px_rgba(0,0,0,0.06)]">
          Попробовать
        </a>
      </div>
    </div>
  </div>
</section>