---
export interface Props {
  href: string;
  class?: string;
}

const { href, class: className = '' } = Astro.props;
---

<a 
  href={href}
  target="_blank"
  class={`bg-[#076EFF] hover:bg-blue-700 text-white hover:text-white px-6 py-3 rounded-lg text-[16px] leading-[24px] font-semibold transition-all duration-300 ease-in-out hover:opacity-90 active:scale-[0.98] active:opacity-80 shadow-[0_8px_12px_-2px_rgba(0,0,0,0.08),0_2px_6px_-2px_rgba(0,0,0,0.06)] ${className}`}
>
  <slot />
</a>